{% extends 'eat/main.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" id="form">
                <div class="user-info">
                    <div class="form-field">
                        <input type="text" class="form-control" name="name" placeholder="Enter Your Name" required>
                    </div>
                    <div class="form-field">
                        <input type="email" class="form-control" name="email" placeholder="Enter Your Email" required>
                    </div>
                </div>
                <div class="shipping-info">
                    <hr>
                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="Enter Your Address" required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="county" placeholder="Enter Your County" required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Enter Your city" required>
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="zipcode" placeholder="Enter Your zip-code" required>
                    </div>

                </div>
                <hr>
                <input id="form-button" class="btn btn-warning btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment" class="btn btn-warning">Make Payment</button>
        </div>
        <br>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-outline-warning">&#x2190; Back To Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
     
                <div class="cart-image"><img src="{{item.product.imageURL}}" alt="" class="row-image"></div>
                <div class="cart-item">{{item.product.name}}</div>
                <div class="cart-price">Ksh. {{item.product.price}}</div>
                <div class="cart-quantity">
                   <p class="item-quantity">x{{item.quantity}}</p> 
                </div>
            </div>
        {% endfor %}
        <h5>Items: {{order.get_cart_items}}</h5>
        <h5>Total: Ksh. {{order.get_cart_total | floatformat:2}}</h5>

        </div>
    </div>
</div>

<script>
    let total = '{{order.get_cart_total | floatformat:2}}';
    if (user != 'AnonymousUser'){
        document.querySelector('.user-info').innerHTML ='';
    }
    let form = document.querySelector('#form');

    form.addEventListener('submit', function(e){
        e.preventDefault();

        console.log('Form submitted...');

        document.querySelector('#form-button').classList.add('hidden');
        document.querySelector('#payment-info').classList.remove('hidden');
    });

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData();
    });
    function submitFormData(){
        console.log('Payment made successfully');

        let userFormData = {
            'name':null,
            'email':null,
            'total':total
        }

        let shippingInfo={
            'address':null,
            'county':null,
            'city':null,
            'zipcode':null,
        }

        shippingInfo.address = form.address.value;
        shippingInfo.county = form.county.value;
        shippingInfo.city = form.city.value;
        shippingInfo.zipcode = form.zipcode.value;

        if (user == 'AnonymousUser'){
            userFormData.name = form.name.value;
            userFormData.email = form.email.value;
        }

        let url ='/place_order/';

        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            }, 
            body:JSON.stringify({'form':userFormData, 'shippingInfo':shippingInfo})
        }).then((response)=>{
                response.json();
            }).then((data)=>{
                alert('Transaction complete.');
                cart={};
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
                window.location.href = "{% url 'menu' %}";
            });
    }
</script>
{% endblock%}