{% extends 'eat/main.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% block content %}
<div class="row">
    {% for product in menu_items %}
    <div class="col-lg-4">
        <img src="{{product.imageURL}}" alt="" class="thumbnail">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <div class="actions">
            <button data-product={{product.id}}  
            data-action="add" class="btn btn-outline-info add-btn update-cart">Add To Cart</button>
            <button href="" class="btn btn-outline-warning view">View</button>
            <h4 class="price">Ksh. {{product.price|floatformat:2}}</h4>
        </div>
        </div>
    </div>
{% endfor %}

       

</div>
{% endblock %}

